<h1>Jugador Actual: {{ player }} </h1>

<main>
    <app-casella *ngFor="let val of squares; let i = index" [value]="val" (click)="makeMove(i)">
    </app-casella>
</main>


<div *ngIf="winner" class="noujoc2">
    <h2>El Jugador {{ winner }} ha guanyat!</h2>
    <button class="noujoc" nbButton outline status="danger" (click)="newGame()">Nova partida</button>
</div>

<!-- <div *ngIf="empat" class="noujoc2">
    <h2>Empat!</h2>
    <button class="noujoc" nbButton outline status="danger" (click)="newGame()">Nova partida</button>
</div> -->